<style>
h1 {
text-align: center;
color: white;
text-shadow:
#ffffff 0 0 12px,
#00c3ce 0 0 25px,
#00c3ce 0 0 25px,
#00c3ce 0 0 25px;
}

h3 {
color: white;
}

a {
font-family: courier;
color: white;
}

p {
color: white;
}
</style>

<!-- CODE CRATED BY @RAFAEL -->
<!-- DATE CREATED 7 / 9 / 2024 -->
<!-- SEMOGA BERMANFAAT UNTUK KITA SEMUA -->
